*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: 	blueviolet;
}

.wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px
}

.container{
    max-width:700px;
    margin: 0 auto;
    padding: 30px;
    border-radius:15px;
    background: white;
    display: flex;
    box-shadow: 0 0 30px black;
}

.input-fields{
    margin: 10px 0;
    background: transparent;
    border:0;
    border-bottom: 2px solid indigo;
    padding: 10px;
    width:100%;
}   

input[type=text], input[type=number], input[type=month] {
    height: 40px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto ;
    padding: 25px;
    border: 1px solid ;
}

#Confirm-payment{
    border-radius: 50px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background: linear-gradient(to right,darkviolet, indigo);
    margin-bottom: 10px;
}

/* #name{
    background-image: url("images(signup)/profile.png");
    padding-left: 60px;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 12px;
} */

#number{
    background-image: url("images(signup)/email.jpg");
    padding-left: 60px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 10px;
}

.flex {
    display: flex;
    justify-content: center;
}

#create-account:hover {
    box-shadow: 0 0 5px lightgray;
}

#expiry, #cvc{
    width: 220px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 25px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid ;
}